.files {
    flex-direction: row-reverse;
    align-items: flex-start;
}

/* start right box */
.files .files-stats {
    min-width: 260px;
}
.files .files-stats .file-icon {
    width: 40px;
    height: 40px;
}
.files .files-stats .size {
    margin: auto;
}
.files .files-stats .upload {
    margin: 15px auto 0;
}
.files .files-stats .upload:hover {
    background-color: #0d69d5;
}
.files .files-stats .upload:hover .upload-icon {
    animation: go-up  0.8s infinite;
    -webkit-animation: go-up  0.8s infinite;
}
@keyframes go-up {
    0%, 100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }   
    50% {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
    }
}
/* start right box */


/* start left box */
.files-content {
    flex: 1;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.files-content .file {

}
.files-content .file img {
    width: 64px;
    height: 64px;
}   
.files-content .file:hover img {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}
.files-content .file .info {
    border-top: 1px solid #eee;
}
/* end left box */

@media (max-width: 767px) {
    .files {
        flex-direction: column;
        align-items: normal;
    }
}